@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #202020;
  font-size: 16px;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
a{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
button{
  font-family: 'Titillium Web', sans-serif;
  padding: 7px;
  background: #7e2cd5;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s;
  &:hover{
    background: #8e4fd3;
    transition: background .3s;
  }
}
header{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #7e2cd5;
  padding: 15px 0;
  .logo{
    font-size: 2.4em;
    cursor: pointer;
  }
  .container{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
  }
  .lengthOfFavorites{
    position: absolute;
    right: 20px;
    top: 18px;
    background: #af2c2c;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-weight: 700;
  }
}
main{
  margin-top: 3em;
  padding: 2em 0;
}
.recipes, .favorite-page{
  margin-top: 2em;
  .recipe-items, .favorite-items{
    margin-top: 1em;
    display: flex;
    justify-content: start;
    column-gap: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
  }
}
.recipe-item, .favorite-item{
  border: 1px solid #fff;
  padding: 1em .6em;
  border-radius: 5px;
  flex: 0 1 24%;
  & button{
    margin-top: 10px;
  }
  .btns{
    display: flex;
    column-gap: .6em;
  }
  & img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
input{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: #202020;
  font-size: 1.1em;
  border: none;
  &:focus{
  box-shadow: 0 0 5pt 0.5pt #7e2cd5;
  }
}
.create-recipe{
  margin: 2em 0 0;
  width: 400px;
  & button{
    margin-top: 1em;
  }
}
.header{
  .container{
    display: flex;
    justify-content: space-between;
  }
  .header__links{
    display: flex;
    column-gap: 1em;
  }
}
.search-query{
  margin-top: 1em;
}
.filter-btns{
  display: flex;
  column-gap: 1em;
  margin-top: 1em;
}

@media (max-width: 1300px) {
  .container{
    padding: 0 15px;
  }
  .recipe-items, .favorite-items{
    column-gap: 0;
  }
  .recipe-item, .favorite-item{
    flex: 0 1 23%;
  }
}
@media (max-width: 1024px){
  .recipes, .favorites{
    margin-top: 1em;
  }
  .recipe-item, .favorite-item{
    flex: 0 1 31%;
  }
}
@media (max-width: 740px){
  .header{
    padding: 8px 0;
  }
  .recipe-item, .favorite-item{
    flex: 0 1 48%;
  }
}
@media (max-width: 480px){
  .recipe-item, .favorite-item{
    flex: 0 1 100%;
  }
}